app-time-picker-modal {
  .toolbar-background-md,
  .toolbar-background-ios {
    background: #a60033;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border-style: none;
    // border-color: rgba(0, 0, 0, 0.3);
    border-color: transparent;
  }

  .itemStyle {
    background: transparent;
    border-color: transparent;
    color: white;
    border-bottom: none;
    padding-top: 5px;
    // --background: transparent;
    // --border-color: transparent;
    // --color: white;
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none;
  }

  .dot {
    // border: 2px solid white;
    // border-radius: 50%; /* one half of ( (border * 2) + height + padding ) */
    // box-shadow: 1px 1px 1px black;
    // height: 30px;
    // min-width: 30px;
    // padding: 4px 3px 0 3px;
    text-align: center;
    height: 32px;
    width: 32px;
    padding: 6px 3px 0 3px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
    box-shadow: 1px 1px 1px black;
  }
}
