<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Rate Us</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <div class="modaldiv"> -->
    <h6 ion-text color="gpsc" style="padding-left:12px;">Rating for the application</h6>
    <br/>
    <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
        nullable="false" (ngModelChange)="rateusSubmit($event, rate)">
    </rating>
    <ion-item style="padding-left: 0px">
        <ion-textarea [(ngModel)]="note" name="note" autocomplete="on" autocorrect="on" placeholder="Add Reviews..."></ion-textarea>
    </ion-item>

    <button ion-button block color="gpsc" (tap)="submitRate()">SUBMIT REVIEW</button>
<!-- </div> -->
</ion-content>