<div style="height: 100%; background: rgba(0, 0, 0, 0.65);">
  <!-- <div style="height: 80%; background: white;"> -->
    <ion-grid>
      <ion-row>
        <ion-col text-center size="12" size-sm="8" offeset-sm="2">
          <ion-card>
            <ion-card-header>
              <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8
                  ><ion-card-title
                    >FUEL {{ eventType }} EVENTS</ion-card-title
                  ></ion-col
                >
                <ion-col col-2>
                  <button ion-button clear (click)="dismiss()">
                    <ion-icon icon-only color="dark" name="close"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content no-padding>
              <ion-card no-padding *ngFor="let fuel of fuelData; let i = index">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" size-sm="8" offeset-sm="2">
                      <ion-grid style="padding: 8px">
                        <ion-row text-left style="background-color: gainsboro; font-size: 1em;">
                          <ion-col col-5>{{ fuel.vehicleName }}</ion-col>
                          <ion-col col-7>{{
                            fuel.timestamp | date: "mediumDate"
                          }}, {{
                            fuel.timestamp | date: "shortTime"
                          }}</ion-col>
                        </ion-row>
                        <ion-row text-left style="background-color: #fff">
                          <ion-col col-5>Fuel Change(L)</ion-col>
                          <ion-col col-7>{{ fuel.litres }}</ion-col>
                        </ion-row>
                        <ion-row text-left style="background-color: #fff">
                          <ion-col col-1>
                            <ion-icon name="pin" color="primary"></ion-icon>
                          </ion-col>
                          <ion-col col-11 (onCreate2)="getAddress(fuel, i)">
                            <p>{{ fuel.address }}</p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </div> -->
</div>
