page-signup {
    .label-md,
    .label-ios {
        margin: 13px 8px 13px 7px;
    }
    // .invalid-feedback{display:block;}
    .btnDiv{
        padding-left: 15px;
        padding-right: 8px;
    }
    .signup-page {
        background: url('../assets/imgs/coverimg3.jpg');
        background-size: cover;
        opacity:0.8;
        background-position:right;
        
        .slogan {
            color: #556a78;
            font-weight: 400;
            line-height: 21px;
            margin: 50px auto;
            font-size: 15px;
            width: 88%;
            letter-spacing: 0.25px; 
        }
        .logo {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            width: 25%;
            height: 13%;
            margin: 25% auto 25px auto; 
        }
        .pseudo-link {
            color: #0185a2;
            font-size: 15px;
            text-decoration: none; 
        }

        .itemSty {
            background-color: transparent;

            ion-input {
                color: #fff;
                border-bottom: 1px solid #fff;
            }
        }
    }

    .otpBox {
        
        margin-left: 25%;
        top: 15px;
        position: relative;
        height: 100px;

        input[type=number] {
            height: 40px;
            width: 40px;
            font-size: 25px;
            text-align: center;
            border: 1px solid #000000;
            }
            input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        }

    #partitioned {
        padding-left: 15px;
        letter-spacing: 42px;
        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 50px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 220px;
        min-width:220px;
      }
      
      #divInner{
        left: 0;
        position: sticky;
      }
      
      #divOuter{
        width:190px; 
        overflow:hidden
      }

      .err{
        color:red;
        text-align: center;
      }
  
}
